* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin:0;
    padding:0;
}

.bodycontainer {
    display: grid;
}

#logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 2px;
    margin-bottom: 3px;
    justify-content: left;
    align-items: center;
}

#logotext {
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    color: #0a548e;
    margin: 10px;
    position: center;   
}

#logopic {
    margin: 10px;
    width: 5em;
    height: 5em;
    position: center;
}

nav {
    position: fixed;
    top: 100px;
    width: 100%;
    /*border-radius: 10px;*/
    /*background-color: #3F51B5;*/
    background-color: #0B577F;
    margin-bottom: 0;
}

#indexmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

#indexmain:nth-child(n) {
    color: white;
}

#indexmain h1 {
    margin-top: 50px;
}

#indexmain p {
    color: gray;
    margin-left: 50px;
    margin-right: 50px;
}

#indexmain a {
    text-decoration: none;
    color: dodgerblue;
}

#indexmain a:hover {
    text-decoration: underline;
}

#indexmain i {
    display: inline;
    color: dodgerblue;
;
}

main {
    margin-top: 150px;
}

nav a {
    display: inline-block;
    padding: 15px;
    color: white;
    font-size: larger;
    text-decoration: none;
    transition: background-color 0.4s;
}

nav a:hover {
    /*background-color: #303F9F;*/
    background-color: #084371;
}

/*
nav a:first-child {
    border-radius: 10px 0px 0px 10px;
}*/

@media screen and (min-width: 480px) {
    nav a:last-child {
        display: none;
    }    
}


nav a:last-child {
    float: right;
    /*border-radius: 0px 10px 10px 0px;*/
}

body {
    background-color: #eaeaea;
}

.categorytitle {
    font-size: 15pt;
}


a.subcategorytitle {
    color: black;
    text-decoration: none;
}

a:hover.subcategorytitle {
    background-color: #eaeaea;
}

#indexad {
    margin: 0;
    padding: 0;
}

#indexadsrc {
    object-fit: contain;
    max-width: 100%;
}

#newarrival {
    color: darkred;
    background-color: black;
    -webkit-animation-name: colorchange;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3.5s; 
}

@-webkit-keyframes colorchange {  
    0% { color: darkred; }
    50% { color: red; }
    51% { color: red; }
    100% { color: darkred; }
  }

.categorycontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
    justify-content: center;
}

.categoryitem {
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 10px;
    transition: box-shadow 0.25s;
}

.hiddensubcat {
    display: none;
}


.categoryitem:hover {
    box-shadow: 0px 0px 3px 4px gray;
}


.categoryitem:hover > .hiddensubcat {
    display: block;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
    justify-content: center;
}

.iproduct {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: box-shadow 0.25s;
}

.producttitle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    transition: height 1s, width 1s;
}

.producttitle img:hover {
    height: 200px;
    width: 200px;
}

section:hover.iproduct {
    box-shadow: 0px 0px 3px 4px gray;
}

.producttitle {
    flex: 1;
    font-size: medium;
    text-decoration: none;
    color: black;
}


.shortdesc {
    flex: 1;
    color: #757575;
    font-size: small;
}

table.specs {
    border-collapse: collapse;
}

table.specs tr {
   border-bottom: 1px solid #757575; 
}

table.specs td.spec {
    font-weight: bold;
}

#contacttitle {
    font-size: x-large;
    width: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#contactform {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#userinfo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


section.cfitem {
    display: flex;
    flex-direction: column;
}

.cfitem input {
    margin-top: 2.5px;
    margin-bottom: 15px;
}

.cfitem textarea {
    resize: vertical;
    min-width: 400px;
    min-height: 100px;
    margin-top: 2.5px;
    margin-bottom: 15px;
    font-size: medium;
    border-color: #757575;
    border-style: solid;
    border-width: 0.5px;
}

button.cfitem {
    background-color: #4CAF50;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;
    border-radius: 10px;

}

button.cfitem:active {
    background-color: #439d46;
}

#contactform input {
    border-color: #757575;
    border-style: solid;
    border-width: 0.5px;
    width: 400px;
    font-size: medium;
}

/*
css about the iphone 14 pro page.
*/

#short_description {
    display: grid;
    grid-template-columns: min-content max-content;
    background-color: rgb(218, 218, 218);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width: fit-content;
    box-shadow: 0px 3px 5px 2px gray;
}

#image_and_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    width: fit-content;
}

#iphone_photos {
    display: flex;
    flex-direction: row;
}

#iphone_photos img {
    margin: 5px;
}

#iphone_specs {
    margin-left: 20px;
    margin-right: 20px;
}

#subnav {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#subnav a {
    justify-self: center;
    text-decoration: none;
    color: grey;
    transition: color 0.2s;
}

#subnav a:hover {
    color: #4CAF50;
}

#full_description {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

#full_description img {
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px 2px gray;
}

#photonic_engine_img {
    float: left;
    margin-right: 20px;
}

#pro_res_img {
    float: right;
    margin-left: 20px;
    width: 500px;
}

#bionic_img {
    float: left;
    margin-right: 20px;
}



#full_description iframe {
    border-radius: 15px;
    box-shadow: 0px 3px 5px 2px gray;
}

#promo_iframe {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
    box-shadow: 0px 3px 5px 2px gray;
}

#dynamic_island_iframe {
    float: right;
    margin-top: 10px;
}

#reviews h2 {
    margin-left: 100px;   
}

.ireview { 
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.reviewername {
    display: inline;
}

.reviewtext {
    color: #606060;
}

/*
ends with iphone
*/

#logofoot {
    height: 50px;
    width: 50px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #0B577F;
    color: white;
}

footer section {
    align-content: center;
    justify-content: center;
    margin: 10px;
}

#footersocials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footersocials h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.footersocialicons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
}

.footersocialicons a {
    display: inline-block;
    font-size: 30pt;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

#footercopyright {
    display: flex;
    flex-direction: row;
}

#footercopyright p {
    margin-left: 10px;
}

footer section img {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
}

.aboutcontainer {
    background-color: white;
    margin: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 25px;
}

.aboutheader h1 {
    margin: 0px;
} 

.aboutpersons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.person img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.person .socials a {
    color: #0a548e;
}

.person .socials {
    display: grid;
    grid-template-columns: auto auto auto;
}

.person .socials a {
    align-self: center;
    justify-self: center;
}

.person .socials i {
    display: inline-block;
    font-size: 30pt;
    margin: 10px;
}
